body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #111;
    background-image: url("Screenshot 2024-12-09 001800.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}


#Text-display {
    text-align: center;
    max-width: 37.5rem;
    padding: 1.25rem;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 0.625rem;
}

@media(max-width: 1000px){
    #Text-display {
        text-align: center;
        font-size: xx-large;
        min-height: 40rem;
        max-height: none;
        max-width: 37.5rem;
        padding: 1.25rem;
        background-color: rgba(40, 40, 40, 0.8);
        border-radius: 0.625rem;
    }
}
