body{
    padding: 0;
    margin: 0;
    background-color: #0a1926;
    color: #f28B66;
    font-family: "Arial", serif;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #070e26;
}

nav{
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

p{
    font-size: large;
}

a{
    display: flex;
    flex-direction: row;
    font-size: large;
    cursor: pointer;
    text-decoration: none;

}

#Interview{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 0 4px 8px 0 #070e26;
    border-radius: 2rem;
    margin: 4rem;
    padding: 2rem;

    height: auto;
    width: auto;
    min-height: 5rem;
    min-width: 30rem;
    background: #070e26;
}

a:visited {
    color: #f28B66;
}

#logo{
    position: relative;
    width: 5rem;
    height: 5rem;
}

#overview{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10rem;
    width: 70rem;
    height: 30rem;
    border-radius: 5rem;
    overflow: hidden;
}

#overview_image{
    object-fit: cover;

}

#anmelden{
    display: none;
}

#logOut{
    margin: 0;
    cursor: pointer;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #070e26;
    color: #ff0000;
    text-align: center;
}

.Error{
    color: #BF4539;
}