#container3D {
    max-width: 90%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #0a1926;
    margin-bottom: 20px;
}
.mars {
    background-image: url(../../resources/Background.jpg);
    min-width: 140%;
    max-height: 300rem;
    border-radius: 20rem;
    overflow: hidden;
    background-size: contain; /* Bild bleibt vollständig sichtbar */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert Wiederholung */
}

#overview {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 3rem;
    max-height: 30rem;
    border-radius: 5rem;
    overflow: hidden;
}

.card{
    margin: 2rem;
    padding: 2rem;
}

.card img{
    max-width: 100%;
    margin-bottom: 2rem;
    object-fit: cover;
}