.card{
    margin: 2rem;
    width: 70%;
}

#nutzerdaten{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

button{
    border: none;
    background: none;
    color: #BF4539;
    cursor: pointer;
}

input{
    margin: 1rem .5rem .5rem;
    border: none;
    border-radius: 2rem;
    padding: .5rem;
    max-height: 1rem;
    max-width: 10rem;
    display: none;
}

p{
    margin: 1rem 0.5rem .5rem;
    display: block;
}

@media (max-width: 1000px) {

    #nutzerdaten{
        flex-direction: column;
        align-items: center;
    }

}