section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 70%;
    margin-bottom: 2.5rem;
    padding: 1rem 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
}

.hide{
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.hide:hover{
    min-height: 5rem;
}
