section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#FAQ{
    margin-top: 2rem;
}

.card{
    width: 70%;
    min-height: 5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.hide{
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

