#container3D {
    max-width: 90%;
    height: 100%;
    overflow: hidden;

}

.bild {
    background-image: url("../../../resources/wohnung1.jpg");
    min-width: 10rem;
    height: 10rem;
    background-size: contain; /* Bild bleibt vollständig sichtbar */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert Wiederholung */

}

button {
    background-color: #f28B66;
    color: #FFFFFF;
    border: none;
    margin-top: .7rem;
    padding: .8rem 1.3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;

    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #f28B66 inset;
}

button:hover {
    box-shadow: 20rem 0 0 0 #BF4539 inset;
}

.container {
    display: flex;
    gap: 10px; /* Abstand zwischen den divs */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; /* Abstand zwischen den divs */
}



.grid-item {
    padding: 10px;

}

